@model ShopPlus.Models.Brands.BrandsModel
@{
    ViewBag.Title = "Брэнды";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Create", "Brands")">Добавить брэнд</a>
<ul>
    @foreach (var item in Model.BrandItems)
    {
        @Html.Partial("Partial/_BrandItem", item)
        
    }
</ul>


