<!DOCTYPE html>
<html>
    <head>
        <title>
            @ViewBag.Title
        </title>
    </head>
    <body>
        <div>
            @Html.Partial("_Navigation")
        </div>
        <div>
            @RenderBody()
        </div>
    </body>
</html>