<ul class="navigation">
    @*    <li>
        <a href="@Url.Action("Index", "Brands")">
            <li>
                Брэнды
            </li>
        </a>
    </li>  
    <li>
        <a href="@Url.Action("Index", "Areas")">
            <li>
                Районы
            </li>
        </a>
    </li>*@ 
    <li>
        <a href="@Url.Action("Index", "Brands")">Брэнды</a>  
    </li>  
    <li>
        <a href="@Url.Action("Index", "Areas")">Районы </a>
    </li>
        
        
        
</ul>